{% include 'admin_header.html' %}
<center>
        <h1>Payment Details</h1>
  <table border="2px">
    <thead>
      <tr>
        <th>Customer Name</th>
        <th>Card number</th>
        <th>Card name</th>
        <th>Expiry Date</th>
        <th>Total price</th>
        <th>Payment Date</th>
      </tr>
    </thead>
    <tbody>
      {% for i in res %}
      <tr>
        <td>{{ i['c_fname'] }} {{ i['c_lname'] }}</td>
        <td>{{ i['card_no'] }}</td>
        <td>{{ i['card_name'] }}</td>
        <td>{{ i['expiry_date'] }}</td>
        <td>{{ i['total_price'] }}</td>
        <td>{{ i['payment_date']}}</td>
      </tr>
      {% endfor %}
    </tbody>         
  </table>
    </center>
{% include 'admin_footer.html' %}