{% include 'staff_header.html' %}
<form method="post">
	<center>
		<table>
			<h1>Services</h1>
			<tr>
				<th>Name</th>
				<td><input type="text" name="sname"></td>
			</tr>
			<tr>
				<th>Category</th>
				<td>
				<select name="category">
         			<option value="" >Select</option>
         			{% for i in data['cat']%}
         			<option value="{{i['category_id']}}" >{{i['category_name']}}</option>
         			{% endfor %}
               	</select>
               	</td>
			</tr>
			<tr>
				<th>Price</th>
				<td><input type="number" name="price"></td>
			</tr>
			<tr>
				<td align="center" colspan="3"><input type="submit" name="submit" value="ADD SERVICE"></td>
			</tr>
		</table>
	</center>
</form>
{% include 'staff_footer.html' %}